{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "babel",
    "react",
    "prettier",
    "import"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 120,
      "singleQuote": true,
      "trailingComma": "es5"
    }],
    "react/prop-types": 0
  }
}
